@model Project6.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome @Session["Username"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @HttpContext.Current.Session["Role"]

        </dd>
    </dl>
</div>

@*<div>
    @if (Model.UserRole == Project6.Models.User.Role.Manager)
    {
        <label> Unregistered Users</label>
        <ul>
            @foreach (var x in ViewBag.TotalUsers)
            {
                <li>@x.Username</li>
            }
        </ul>

    }


</div>*@

